* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header ul {
    display: flex;
    list-style: none;
    gap: 50px;
}

header a {
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #000000;
}

.socials {
    display: flex;
    gap: 30px;
    align-items: center;
}

#section-1 {
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    padding: 0px 80px;
    overflow-x: scroll;
    align-items: center;
}

#section-1::-webkit-scrollbar {
    width: 0px;
}

#section-1 .main-box {
    gap: 20px;
    display: flex;
    justify-content: center;
}

#section-1 .main-box .box {
    width: 90vw;
    cursor: grab;
    height: 560px;
    display: flex;
    overflow: hidden;
    text-align: center;
    border-radius: 55px;
    background-color: aqua;
}

#section-1 .main-box .box .left-box,
#section-1 .main-box .box .right-box {
    width: 50%;
    height: 100%;
    cursor: default;
}

#section-1 .main-box .box .left-box {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 50px 0px 0px 50px;
    background-color: #E7F9FD;
    
}

#section-1 .main-box .box .left-box .img-div {
    display: flex;
    align-items: center;
}

#section-1 .main-box .box .left-box .Hot-Recipes {
    margin-bottom: 100px;
    font-style: normal;
    font-weight: 600;
    position: relative;
    right: 180px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #000000;
    background-color: #fff;
    display: inline-block;
    border-radius: 30px;
    padding: 15px 20px 15px 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

#section-1 .main-box .box .left-box .logos-img {
    position: relative;
    left: 60%;
    cursor: pointer;
}

#section-1 .main-box .box .left-box h1 {
    position: relative;
    bottom: 90px;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    color: #000000;
}

#section-1 .main-box .box .left-box .text {
    position: relative;
    right: 60px;
    bottom: 77px;
    height: 56px;
    width: 520px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
}

#section-1 .main-box .box .left-box .btns,
#section-1 .main-box .box .left-box .btn {
    display: flex;
    align-items: center;
}

#section-1 .main-box .box .left-box .btns {
    position: relative;
    bottom: 30px;
    gap: 30px;
}

#section-1 .main-box .box .left-box .btns .btn {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
    gap: 5px;
    border: none;
    height: 40px;
    width: 139px;
    justify-content: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    transition: 0.3s;
    position: relative;
    top: -50px;
    left: -170px;
    cursor: pointer;
}

#section-1 .main-box .box .left-box .user-box {
    width: 88%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: -70px;
    left: -40px;
}

#section-1 .main-box .box .left-box .user-box .user {
    gap: 20px;
    display: flex;
    align-items: center;
}

#section-1 .main-box .box .left-box .user-box .user .text-p {
    gap: 2px;
    display: flex;
    flex-direction: column;
}

#section-1 .main-box .box .left-box .user-box .user .text-p .user-name {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #000000;
}

#section-1 .main-box .box .left-box .user-box .user .text-p .user-date {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
}

#section-1 .main-box .box .right-box {
    background-color: rgb(0, 0, 0);
}

#section-1 .main-box .box .right-box img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.black-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 18px 36px;
    background-color: #000000;
    border: 0;
    border-radius: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    letter-spacing: -0.02em;
    cursor: pointer;
    transition: 0.3s;
}

#section-1 .main-box .box .left-box .btns .btn:active,
.black-btn:active {
    transform: scale(0.95);
}

.sec2 {
    height: 50vh;
}

.sec2>div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3rem;
}

.sec2>div:first-child h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.04em;
}

.sec2>div:first-child button {
    background: #E7FAFE;
    border-radius: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.02em;
    padding: 21px 27px;
    border: 0;
    transition: 0.3s;
    cursor: pointer;
}

.sec2>div:first-child button:hover {
    background-color: #cff7ff;
}

.sec2>div:first-child button:active {
    transform: scale(0.95);
}

.sec2>div:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.sec2>div:last-child div {
    display: grid;
    place-items: center;
    gap: 20px;
    padding: 26px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s;
}

.sec2>div:last-child div:active {
    transform: scale(0.95);
}

.sec2>div:last-child div p {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
}

.sec2>div:last-child div:first-child {
    background: linear-gradient(180deg, rgba(112, 130, 70, 0) 0%, rgba(112, 130, 70, 0.1) 100%);
}

.sec2>div:last-child div:first-child:hover {
    background-color: rgba(112, 130, 70, 0.1);
}

.sec2>div:last-child div:nth-child(2) {
    background: linear-gradient(180deg, rgba(108, 198, 63, 0) 0%, rgba(108, 198, 63, 0.1) 100%);
}

.sec2>div:last-child div:nth-child(2):hover {
    background-color: rgba(108, 198, 63, 0.1);
}

.sec2>div:last-child div:nth-child(3) {
    background: linear-gradient(180deg, rgba(204, 38, 27, 0) 0%, rgba(204, 38, 27, 0.1) 100%);
}

.sec2>div:last-child div:nth-child(3):hover {
    background-color: rgba(204, 38, 27, 0.1);
}

.sec2>div:last-child div:nth-child(4) {
    background: linear-gradient(180deg, rgba(240, 158, 0, 0) 0%, rgba(240, 158, 0, 0.1) 100%);
}

.sec2>div:last-child div:nth-child(4):hover {
    background-color: rgba(240, 158, 0, 0.1);
}

.sec2>div:last-child div:nth-child(5),
.sec2>div:last-child div:nth-child(6) {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);
}

.sec3 {
    height: 250vh;
}

.headline p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.headline h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: -0.04em;
}

.sec3-main {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding: 50px 150px 50px 150px;
}

.food1,
.food2,
.food3,
.food4,
.food5,
.food6,
.food7,
.food8 {
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.food-img,
.food-img,
.food-img,
.food-img,
.food-img,
.food-img,
.food-img,
.food-img {
    height: 60%;
    width: 90%;
    object-fit: cover;
    border-radius: 25px;
    margin-top: 30px;
}

.food1 strong,
.food2 strong,
.food3 strong,
.food4 strong,
.food5 strong,
.food6 strong,
.food7 strong,
.food8 strong {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.04em;
    padding-left: 20px;
}

.food1 span span:first-child,
.food2 span span:first-child,
.food3 span span:first-child,
.food4 span span:first-child,
.food5 span span:first-child,
.food6 span span:first-child,
.food7 span span:first-child,
.food8 span span:first-child {
    padding-top: 20px;
    margin-right: 50px;
}

.food1 span span:last-child,
.food2 span span:last-child,
.food3 span span:last-child,
.food4 span span:last-child,
.food5 span span:last-child,
.food6 span span:last-child,
.food7 span span:last-child,
.food8 span span:last-child {
    padding-top: 20px;
    margin-right: 100px;
}

.food1 span,
.food2 span,
.food3 span,
.food4 span,
.food5 span,
.food6 span,
.food7 span,
.food8 span {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ads {
    border-radius: 5px;
    background: linear-gradient(180deg, #357355 0%, #1D483B 100%);
    height: 500px;
}

.ads-text {
    position: relative;
    left: 120px;
    top: 50px;
}

.ads-star {
    position: relative;
    top: 20px;
}

.ads-food {
    position: relative;
    bottom: 330px;
    left: 20px;
}

.sec4 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.sec4-left {
    height: 100%;
    width: 40%;
    padding: 50px;
}

.sec4-left h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.04em;
}

.sec4-left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
    padding: 20px 0px 20px 0px;
}

.sec4-left button {
    background: #000000;
    border-radius: 16px;
    font-weight: 600;
    border: 0;
    font-size: 14px;
    line-height: 17px;
    padding: 21px 53px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    margin-top: 70px;
    transition: 0.3s;
    cursor: pointer;
}

.sec4-left button:hover {
    background-color: #000000e7;
}

.sec4-left button:active {
    transform: scale(0.95);
}

.sec4-right {
    width: 660px;
    height: 500px;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
    border-radius: 30px;
}

.oshpaz-img {
    position: relative;
    bottom: 97px;
    right: 60px;
}

.pomidor-img {
    position: relative;
    bottom: 320px;
    right: 30px;
}

.meat-img {
    position: relative;
    bottom: 630px;
}

.onion-img {
    position: relative;
    bottom: 630px;
    left: 150px;
}

.vegan-img {
    position: relative;
    bottom: 550px;
    left: 400px;
}

.sec5 {
    height: 100vh;
    background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
}

.sec5-main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.cells {
    width: 300px;
    height: 446px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.post-top {
    display: flex;
    align-items: center;
}

.acc-img {
    padding: 5px;
}

.insta-name strong {
    font-weight: 600;
    font-size: 10.0533px;
    line-height: 14px;
    letter-spacing: -0.0773333px;
    color: #262626;
}

.insta-name p {
    font-weight: 400;
    font-size: 8.50667px;
    line-height: 10px;
    letter-spacing: 0.0541333px;
    color: #262626;
}

.post-top .shape-icon {
    position: relative;
    left: 180px;
    cursor: pointer;
}

.post {
    height: 50%;
    width: 100%;
    object-fit: cover;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.btns img {
    cursor: pointer;
}

.liked {
    display: flex;
    align-items: center;
}

.liked img {
    padding: 0px 10px 0px 10px;
}

.liked p {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.0541333px;
    color: #262626;
}

.text-long {
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: -0.0773333px;
    color: #262626;
    padding: 10px;
}

.date {
    font-weight: 400;
    font-size: 12px;
    line-height: 10px;
    letter-spacing: 0.0386667px;
    color: rgba(0, 0, 0, 0.4);
    padding: 50px 0px 10px 10px;
}

.sec5 button {
    background: #000000;
    border-radius: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    letter-spacing: -0.02em;
    align-items: center;
    color: #FFFFFF;
    gap: 10px;
    padding: 21px 71px;
    margin: 50px 0px 0px 43%;
    transition: 0.3s;
    cursor: pointer;
}

.sec5 button:hover {
    background-color: #000000e7;
}

.sec5 button:active {
    transform: scale(0.95);
}

.sec6 {
    height: 140vh;
}

.sec6-headline {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

.sec6-headline h2 {
    padding-top: 50px;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.04em;
}

.sec6-headline p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
}

.sec6-main {
    height: 90%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    padding: 30px;
}

.sec6-main>div {
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0px 0px 20px;
}

.sec6-main .box .food-img {
    margin: 0px 0px 0px 0px;
}

.box span {
    display: flex;
    gap: 10px;
    align-items: center;
}

.box div {
    display: flex;
    align-items: center;
    gap: 20px;
}

.sec7 {
    height: 100vh;
    display: grid;
    place-items: center;
}

.sec7-main {
    width: 70%;
    height: 70%;
    background-color: #E7FAFE;
    border-radius: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.bowl {
    position: relative;
    left: 400px;
    top: 200px;
}

.salad {
    position: relative;
    bottom: 170px;
    right: 360px;
}

.sec7-main h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: -0.04em;
    position: relative;
    top: 230px;
}

.sec7-main p {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding: 20px;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
    top: 230px;
}

.sec7-main input {
    background: #FFFFFF;
    border-radius: 24px;
    border: 0;
    padding: 31px 314px 31px 31px;
    position: relative;
    left: 80px;
    top: 230px;
}

.sec7-main button {
    position: relative;
    right: 90px;
    top: 230px;
    background: #000000;
    border-radius: 16px;
    color: white;
    padding: 21px 46px;
    cursor: pointer;
    transition: 0.3s;
}

.sec7-main button:active {
    transform: scale(0.95);
}

.footer {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 0px 180px 0px 180px;
}

.footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.6);
}

.footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: -0.02em;
    color: #000000;
}


footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.social {
    position: relative;
    left: 390px;
}

.social img {
    padding: 0px 20px 0px 0px;
}

footer p {
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.02em;
    color: rgba(0, 0, 0, 0.6);
}

footer p span {
    color: rgba(255, 121, 103, 1);
}